.movie {
  width: 100%;
  align-items: center;
  text-align: start;
  color: var(--clr-black);
  border-radius: var(--radius-poster);
}

.movie__poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--radius-poster) var(--radius-poster) 0;
}

.movie__details {
  background: var(--clr-cta-light);
  padding: 2em;
}

.movie__details--primary {
  margin-bottom: 0.25em;
  align-items: center;
  gap: 0.5em;
  background: var(--clr-cta-light);
}

.movie-title {
  font-size: var(--font-size-s);
  text-transform: uppercase;
  font-weight: 700;
}

.movie-rating__container {
  align-items: center;
  gap: 0.25em;
}

.movie-rating,
.movie__details--secondary {
  font-size: var(--font-size-xs);
  line-height: 1.67;
}

.movie__details--secondary {
  gap: 1em;
}

.movie__details--text {
  font-size: var(--font-size-xs);
  line-height: 1.6;
  color: #333;
}

@media (min-width: 800px) {
  .movie {
    grid-template-columns: 1fr 1.5fr;
  }
  .movie__poster {
    border-radius: var(--radius-poster) 0 0 var(--radius-poster);
  }
  .movie__details {
    height: 100%;
    align-content: center;
  }
}
