.movie {
  width: 100%;
  align-items: center;
  gap: 2em;
  text-align: start;
  background: var(--clr-white);
  color: var(--clr-black);
  padding: 1em;
  border-radius: var(--radius-poster);
}

.movie__poster-container {
  height: 100%;
}

.movie__poster {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-poster);
  object-fit: contain;
}

.movie__details {
  justify-items: start;
}

.movie__details--primary {
  margin-bottom: 0.5em;
}

.movie-title {
  font-size: var(--font-size-s);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.11;
}

.movie-rating__container {
  align-items: center;
  gap: 0.25em;
}

.movie-rating,
.movie__details--secondary {
  font-size: var(--font-size-xs);
  line-height: 1.67;
}

.movie__details--secondary {
  flex-flow: column;
  align-items: start;
  flex-flow: row;
  align-items: center;
  gap: 0.7em;
}

.movie__details--text {
  font-size: var(--font-size-xs);
  line-height: 1.43;
  color: #444;
  margin-bottom: 1.5em;
}

@media (min-width: 800px) {
  .movie__details--text {
    margin-bottom: unset;
  }
}
