.icon__container > a {
  margin-top: 1em;
  color: var(--clr-cta);
  display: block;
}

.movie {
  max-width: 700px;
  margin: 0 auto;
}

.btn--watchlist {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
}

.btn--remove {
  background: var(--clr-remove);
}

.btn--remove:hover {
  background: var(--clr-remove-hover);
}