:root {
  --font-primary: Inter, sans-serif;
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.5rem;
  --clr-white: hsl(255, 100%, 100%);
  --clr-black: hsl(0, 6%, 7%);
  --clr-gray: #dfdddd;
  --clr-dark-txt: #6b7280;
  --clr-dark-gray: #374151;
  --clr-cta: hsl(3, 87%, 38%);
  --clr-cta-hover: hsl(3, 95%, 30%);
  --radius-soft: 6px;
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --transition-quick: all 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-black);
}

body,
button,
input {
  font-family: var(--font-primary);
}

/* 
Utility 
*/
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* 
Header  
*/
.header-grid {
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas: ". nav .";
  background: url("../assets/images/nav-bg.png");
  background-size: cover;
  background-position-y: 20%;
  padding: 6em 0;
  position: relative;
}

.nav {
  grid-area: nav;
  justify-content: space-between;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-black);
  opacity: 0.8;
}

.title {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 800;
  line-height: 0.55;
  letter-spacing: -1.926px;
}

.nav-link {
  color: var(--clr-white);
  z-index: 99;
  text-decoration: none;
}

.nav-link--sm {
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 1.43;
}

/* 
Main  
*/
.main {
  text-align: center;
  position: relative;
}

/* 
Search bar  
*/
.search-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: var(--shadow-sm);
  grid-template-columns: 1fr auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.search-bar * {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.43;
}

.search-bar__input-container {
  gap: 0.4em;
  align-items: center;
  padding-left: 0.8em;
  background: var(--clr-white);
  border: 1px solid var(--clr-gray);
  border-radius: var(--radius-soft) 0 0 var(--radius-soft);
}

.search-bar__input {
  padding: 0.8em 0 0.8em 0.8em;
  width: 100%;
  color: var(--clr-dark-txt);
  border: none;
}

.search-bar__input:focus {
  border-radius: 0;
}

/* 
Buttons  
*/
.btn {
  border: none;
  cursor: pointer;
  transition: var(--transition-quick);
  padding: 0 2em;
}

.btn--primary {
  color: var(--clr-white);
  background: var(--clr-cta);
  border: 1px solid var(--clr-cta);
  border-radius: 0 var(--radius-soft) var(--radius-soft) 0;
}

.btn--primary:hover {
  background: var(--clr-cta-hover);
}

/* 
Results section  
*/
.icon__container {
  color: var(--clr-gray);
  padding-top: 20vh;
}

.icon-container > p {
  font-size: var(--font-size-m);
  font-weight: 700;
  line-height: 1.11;
}
