:root {
  --font-primary: Inter, sans-serif;
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.5rem;
  --clr-white: hsl(255, 100%, 100%);
  --clr-black: hsl(0, 6%, 7%);
  --clr-gray: #dfdddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-black);
}

body,
button,
input {
  font-family: var(--font-primary);
}

/* 
Utility 
*/
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* 
Header  
*/
.header-grid {
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas: ". nav .";
  background: url("../assets/images/nav-bg.png");
  background-size: cover;
  background-position-y: 20%;
  padding: 6em 0;
  position: relative;
}

.nav {
  grid-area: nav;
  justify-content: space-between;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-black);
  opacity: 0.8;
}

.title {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 800;
  line-height: 0.55;
  letter-spacing: -1.926px;
}

.nav-link {
  color: var(--clr-white);
  z-index: 99;
  text-decoration: none;
}

.nav-link--sm {
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 1.43;
}

/* 
Results section  
*/
.icon-container {
  color: var(--clr-gray);
}
